{% extends 'shopping/main.html' %}

{% block title %}
    ALKA | Về Chúng Tôi
{% endblock title %}

{% block content %}
    {% load static %}
    {% load humanize %}
<!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">  <br><br>
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                            <h2 class="breadcrumb-title">Về Chúng Tôi</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active">Về chúng tôi</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->






    <div class="site-wrapper-reveal border-bottom">

        <div class="about-us-pages-area">
            <div class="banner-video-area overflow-hidden section-space--pt_90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-video-box">
                                <img src="{% static 'images/masks/[1170px x 574px] 1.png' %}" alt="">
                                <div class="video-icon">
                                    <a href="https://www.youtube.com/watch?v=XnUCZ-8cJX0" class="popup-youtube"><i class="linear-ic-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="our-customer-suppoer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <!-- Single Support Item Start -->
                            <div class="single-support-item">
                                <div class="header-support">
                                    <div class="icon">
                                        <i class="icon-bag2"></i>
                                    </div>
                                    <h6><a href="#">Shop online</a></h6>
                                </div>
                                <div class="iconbox-desc">
                                    <p>Đặt hàng online nhanh chóng và tiện <br> lợi
                                        trên website chúng tôi.</p>
                                </div>
                            </div>
                            <!-- Single Support Item End -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <!-- Single Support Item Start -->
                            <div class="single-support-item">
                                <div class="header-support">
                                    <div class="icon">
                                        <i class="icon-cash-dollar"></i>
                                    </div>
                                    <h6><a href="#">Phương thức thanh toán</a></h6>
                                </div>
                                <div class="iconbox-desc">
                                    <p>Thanh toán dễ dàng qua các cổng thanh toán online</p>
                                </div>
                            </div>
                            <!-- Single Support Item End -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <!-- Single Support Item Start -->
                            <div class="single-support-item">
                                <div class="header-support">
                                    <div class="icon">
                                        <i class="icon-paper-plane"></i>
                                    </div>
                                    <h6><a href="#">Miễn phí vận chuyển</a></h6>
                                </div>
                                <div class="iconbox-desc">
                                    <p>Miễn phí vận chuyển cho 63 tỉnh thành.</p>
                                </div>
                            </div>
                            <!-- Single Support Item End -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <!-- Single Support Item Start -->
                            <div class="single-support-item">
                                <div class="header-support">
                                    <div class="icon">
                                        <i class="icon-history"></i>
                                    </div>
                                    <h6><a href="#">Chính sách đổi trả</a></h6>
                                </div>
                                <div class="iconbox-desc">
                                    <p>Đang cập nhật.</p>
                                </div>
                            </div>
                            <!-- Single Support Item End -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="perfection-area section-space--pt_90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="perfection-dec mr-lg-5">
                                <h5 class="mb-10">CÔNG TY ALKA GLUTA</h5>
                                <p>ALKA GLUTA là một cái tên được tin cậy trong lĩnh vực sức khỏe và sắc đẹp. <br>Chúng tôi tự hào mang đến cho bạn những sản phẩm tốt nhất và luôn tận tâm cung cấp những sản phẩm an toàn và hiệu quả giúp mọi người bổ sung cho cuộc sống. Sự cống hiến của chúng tôi trong việc cung cấp các sản phẩm làm đẹp và sức khỏe chất lượng cao mang lại cho chúng tôi một lợi thế chưa từng có trong việc nghiên cứu và phát triển các sản phẩm sáng tạo.
                                Tất cả mọi người tại công ty chúng tôi là tâm trí của trách nhiệm đi kèm với việc nghiên cứu và phát triển các sản phẩm dựa trên sức khỏe. <br>
                                Đó là lý do tại sao chúng tôi đã thông qua nhiệm vụ: <br>
                                “Để cung cấp các sản phẩm chăm sóc sức khỏe và sắc đẹp chất lượng cao nhất với giá trị tốt nhất cho khách hàng của chúng tôi.”</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="progress-wrapper tablet-mt__30 small-mt__30">

                                <!-- Start Single Progress Charts -->
                                <div class="progress-charts">
                                    <h6 class="prog-title">Bảo Vệ Sức Khỏe</h6>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft custom-color--2" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">99%</span></div>
                                    </div>
                                </div>
                                <!-- End Single Progress Charts -->

                                <!-- Start Single Progress Charts -->
                                <div class="progress-charts">
                                    <h6 class="prog-title">Chất Lượng</h6>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft custom-color--2" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">95%</span></div>
                                    </div>
                                </div>
                                <!-- End Single Progress Charts -->

                                <!-- Start Single Progress Charts -->
                                <div class="progress-charts">
                                    <h6 class="prog-title">Sáng Tạo</h6>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft custom-color--2" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">80%</span></div>
                                    </div>
                                </div>
                                <!-- End Single Progress Charts -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-preduct-wrapper section-space--pt_90">
                <div class="container">
                    <div class="row row--6">
                        <div class="col-lg-8 col-md-8">
                            <div class="banner-product-image mt-10">
                                <a href="#">
                                    <img src="{% static 'images/masks/b6e9a35b138ae2d4bb9b.jpg' %}" class="img-fluid" alt="Banner images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="banner-product-image mt-10">
                                <a href="#">
                                    <img src="{% static 'images/product/Zip/5789e9a5024bf315aa5a-1.jpg' %}" class="img-fluid" alt="Banner images">
                                </a>
                            </div>
                            <div class="banner-product-image mt-10">
                                <a href="#">
                                    <img src="{% static 'images/masks/e7b4150cb8dd498310cc-1.jpg' %}" class="img-fluid" alt="Banner images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="banner-product-image mt-10">
                                <a href="#">
                                    <img src="{% static 'images/masks/b3dd35928243731d2a52.jpg' %}" class="img-fluid" alt="Banner images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="banner-product-image mt-10">
                                <a href="#">
                                    <img src="{% static 'images/masks/IMG_8174-2.jpg' %}" class="img-fluid" alt="Banner images">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="addres-area section-space--pb_90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="helendo-section-title text-left section-space--mt_60">
                                <h3 class="title">Văn phòng tại Mỹ</h3>
                                <div class="description">
                                    <p>Nevada 89108, Las Vegas, United States.<br> info@alkamarketplace.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="helendo-section-title text-left section-space--mt_60">
                                <h3 class="title">Văn phòng tại Tp.HCM</h3>
                                <div class="description">
                                    <p>269/5 Lê Văn Thịnh, P. Cát Lái, Quận 2, Tp. Hồ Chí Minh, Việt Nam.
                                        <br> thanhhuyen@topshopping.com.vn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}
    


 