{% extends 'shopping/main.html' %}

{% block title %}
    Shop
{% endblock title %}

{% block content %}
    {% load static %}
    {% load humanize %}
    {% load custom_filter %}
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12"> <br><br>
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                            <h2 class="breadcrumb-title"><a href="{% url 'view_shop' %}">Shop</a></h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active">Shop</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal border-bottom">

        <!-- Product Area Start -->
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">

                <div class="row">
                    <div class="col-lg-3 col-md-3 order-md-2 order-2  small-mt__40">
                        <div class="shop-widget widget-shop-categories">
                            <div class="product-filter">
                                <h6 class="mb-20">Categories</h6>
                                <div class="mobile-menu-overlay__body pl-0 pr-0">
                                    <nav class="offcanvas-navigation mt-30">
                                    <ul>
                                        {% for category in categories %}
                                            <li class="has-children">
                                                <a href="#"><span>{{ category.name }}</span></a>
                                                {% for child_category in category.id|get_childs  %}
                                                <ul class="sub-menu" id= "{{ category.name }}" >
                                                    <li><a href="?name_category={{ child_category.name }}"><span>{{ child_category.name }}</span></a></li>
                                                </ul>
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                        <!-- Product Filter -->
                        <div class="shop-widget widget-color">
                            <div class="product-filter">
                                <h6 class="mb-20">Color</h6>
                                <ul class="widget-nav-list">
                                    <li><a href="#"><span class="swatch-color black"></span></a></li>
                                    <li><a href="#"><span class="swatch-color green"></span></a></li>
                                    <li><a href="#"><span class="swatch-color grey"></span></a></li>
                                    <li><a href="#"><span class="swatch-color red"></span></a></li>
                                    <li><a href="#"><span class="swatch-color white"></span></a></li>
                                    <li><a href="#"><span class="swatch-color yellow"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Product Filter -->
                        <!-- <div class="shop-widget widget-size">
                            <div class="product-filter">
                                <h6 class="mb-20">Size</h6>
                                <ul class="widget-nav-list">
                                    <li><a href="#">Large <span class="count">1</span></a></li>
                                    <li><a href="#">Small <span class="count">1</span></a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- Product Filter -->
                        <!-- <div class="shop-widget">
                            <div class="product-filter widget-price">
                                <h6 class="mb-20">Price</h6>
                                <ul class="widget-nav-list">
                                    <li><a href="#">$0.00 - $20.00</a></li>
                                    <li><a href="#">$20.00 - $40.00</a></li>
                                    <li><a href="#">£40.00 - £50.00</a></li>
                                    <li><a href="#">£50.00 - £60.00</a></li>
                                    <li><a href="#">£60.00 +</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- Product Filter -->

                        <!-- <div class="shop-widget">
                            <div class="product-filter">
                                <h6 class="mb-20">Tags</h6>
                                <div class="tagcloud"><a href="#" class="selected">All</a><a href="#" class="">Accesssories</a><a href="#" class="">Box</a><a href="#" class="">chair</a><a href="#" class="">Deco</a><a href="#" class="">Furniture</a><a href="#" class="">Glass</a><a href="#" class="">Pottery</a><a href="#" class="">Table</a></div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-9 col-md-9  order-md-1 order-1">
                        <div class="row">
                            <div class="col-lg-6 col-md-8">
                                <div class="shop-toolbar__items shop-toolbar__item--left">
                                    <!-- <div class="shop-toolbar__item shop-toolbar__item--result">
                                        <p class="result-count"> Showing 1–9 of 21</p>
                                    </div> -->

                                    <div class="shop-toolbar__item shop-short-by">
                                        <ul>
                                            <li>
                                                <a href="#">Sort by: <span class="d-none d-sm-inline-block">Default</span> <i class="fa fa-angle-down angle-down"></i></a>
                                                <ul>
                                                    <li class="active"><a href="#">Default sorting</a></li>
                                                    <li><a href="#">Sort by popularity</a></li>
                                                    <li><a href="#">Sort by average rating</a></li>
                                                    <li><a href="#">Sort by latest</a></li>
                                                    <li><a href="#">Sort by price: low to high</a></li>
                                                    <li><a href="#">Sort by price: high to low</a></li>
                                                </ul>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4">
                                <div class="shop-toolbar__items shop-toolbar__item--right">
                                    <div class="shop-toolbar__items-wrapper">

                                        <div class="shop-toolbar__item">
                                            <ul class="nav toolber-tab-menu justify-content-start" role="tablist">
                                                <li class="tab__item nav-item active">
                                                    <a class="nav-link active" data-toggle="tab" href="#tab_columns_01" role="tab">
                                                        <img src="{% static 'images/svg/column-03.svg' %}" class="img-fluid" alt="Columns 03">
                                                    </a>
                                                </li>
                                                <li class="tab__item nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#tab_columns_02" role="tab"><img src="{% static 'images/svg/column-04.svg' %}" class="img-fluid" alt="Columns 03"> </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="shop-toolbar__item shop-toolbar__item--filter ">
                                            <a class="shop-filter-active" href="#">Filter<i class="icon-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="product-filter-wrapper">
                            <div class="row">
                                <!-- Product Filter -->
                                <!-- <div class=" mb-20 col__20">
                                    <div class="product-filter">
                                        <h5>Color</h5>
                                        <ul class="widget-nav-list">
                                            <li><a href="#"><span class="swatch-color black"></span> Black</a></li>
                                            <li><a href="#"><span class="swatch-color green"></span> Green</a></li>
                                            <li><a href="#"><span class="swatch-color grey"></span> Grey</a></li>
                                            <li><a href="#"><span class="swatch-color red"></span> Pink</a></li>
                                            <li><a href="#"><span class="swatch-color white"></span> White</a></li>
                                            <li><a href="#"><span class="swatch-color yellow"></span> Yellow</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <!-- Product Filter -->
                                <!-- <div class=" mb-20 col__20">
                                    <div class="product-filter">
                                        <h5>Size</h5>
                                        <ul class="widget-nav-list">
                                            <li><a href="#">Large</a></li>
                                            <li><a href="#">Small</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <!-- Product Filter -->
                                <!-- <div class=" mb-20 col__20">
                                    <div class="product-filter">
                                        <h5>Price</h5>
                                        <ul class="widget-nav-list">
                                            <li><a href="#">$0.00 - $20.00</a></li>
                                            <li><a href="#">$20.00 - $40.00</a></li>
                                            <li><a href="#">£40.00 - £50.00</a></li>
                                            <li><a href="#">£50.00 - £60.00</a></li>
                                            <li><a href="#">£60.00 +</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <!-- Product Filter -->
                                <!-- <div class=" mb-20 col__20">
                                    <div class="product-filter">
                                        <h5>Categories</h5>
                                        <ul class="widget-nav-list">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Accessories</a></li>
                                            <li><a href="#">Chair</a></li>
                                            <li><a href="#">Decoration</a></li>
                                            <li><a href="#">Furniture</a></li>
                                            <li><a href="#">Table</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <!-- <div class=" mb-20 col__20">
                                    <div class="product-filter">
                                        <h5>Tags</h5>
                                        <div class="tagcloud"><a href="#" class="selected">All</a><a href="#" class="">Accesssories</a><a href="#" class="">Box</a><a href="#" class="">chair</a><a href="#" class="">Deco</a><a href="#" class="">Furniture</a><a href="#" class="">Glass</a><a href="#" class="">Pottery</a><a href="#" class="">Table</a></div>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_columns_01">
                                <div class="row">
                                    {% for product in products %}
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <!-- Single Product Item Start -->
                                            <div class="single-product-item text-center">
                                                <div class="products-images">
                                                    <a href="{% url 'detail' product_id=product.id %}" class="product-thumbnail">
                                                        <img src="{% static product.image %}" class="img-fluid" alt="Product Images">
                                                    </a>
                                                    <div class="product-actions">
                                                        <!-- <a href="" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a> -->
                                                        <a href="{% url 'detail' product_id=product.id %}"><i class="p-icon icon-bag2"></i> <span  class="tool-tip" >Xem chi tiết</span></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h6 class="prodect-title"><a href="{% url 'detail' product_id=product.id %}">{{ product.name }}</a></h6>
                                                    <div class="prodect-price">
                                                        <span class="new-price">{{ product.price|intcomma }} VND</span>
                                                    </div>
                                                </div>
                                            </div><!-- Single Product Item End -->
                                        </div> 
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-12">
                                {% if pageProduct.has_other_pages %}
                                    <ul class="page-pagination text-center mt-40">
                                        {% if pageProduct.has_previous %}
                                        <li><a class="previous page-numbers" href="?page={{ pageProduct.previous_page_number }}"><i class="icon-chevron-left"></i>Previous Page</a></li> 
                                        {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}

                                        {% for i in pageProduct.paginator.page_range %}
                                            {% if pageProduct.number == i %}
                                                <li><span class="page-numbers current">{{i}}</span></li> 
                                            {% else %}
                                                <li><a href="?page={{i}}">{{i}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if pageProduct.has_next %}
                                            <li><a class="next page-numbers" href="?page={{ pageProduct.next_page_number}}">Next Page<i class="icon-chevron-right"></i></a>
                                            </li>
                                        {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div> -->

                    </div>
                </div>

            </div>
        </div>
        <!-- Product Area End -->

    </div>
{% endblock content %}

