{% extends 'shopping/main.html' %}

{% block title %}
    ALKA | Thank you
{% endblock title %}

{% block content %}
    <div class="site-wrapper-reveal border-bottom">

        <div class="error-page-area section-space--ptb_90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ml-auto mr-auto">
                        <div class="error-page-content text-center section-space--ptb_90">
                            <i class="icon icon-confused"></i>
                            <h1 class="mb-20">ohh! page not found</h1>
                            <p class="description">It seems we can't find what you're looking for. Perhaps searching can help or go back to <a href="index.html">Homepage</a></p>

                            <div class="search-page-box mt-40">
                                <form action="#" class="pages-search">
                                    <input class="input-box" type="text" placeholder="Search …">
                                    <button class="submit-btn"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



{% endblock content %}
    
